@tailwind base;
@tailwind components;
@tailwind utilities;


.developers-section {
  background-color: #fff; /* Solid white background */
}


.developer-card {
  background-color: white; 
  
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds depth */
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
